<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brotas Eco Tour</title>

    <link rel="icon" href="/images/favico.png" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="page-landing">
      <div id="container">
        <header>
          <img 
            class="animate-up"
            id="logo" 
            src="/images/brotasecotour_logo_1.png" 
            alt="Logomarca de Brotas Eco Tour" />

          <div class="location animate-up">
            <strong>Brotas</strong>
            <p>São Paulo</p>
          </div>
        </header>

        <main>
          <h1 class="animate-up">#Vem<br>Pra<br>Brotas</h1>

          <section class="visit">
            <p class="animate-up">Visite os principais pontos turísticos, restaurantes, bares e mais.</p>

            <a href="/orphanages" title="Visite orfanatos" class="animate-up">
              <img src="/images/arrow.svg" alt="Ir para o mapa" style="width:35px;height:auto;"/>
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
